.main {
  overflow-y: scroll;
  height: 100dvh;

  .top {
    position: fixed;
    top: 0;
    left: 0;

    margin-top: 7vw;
    padding: 3vw;
    padding-left: 5vw;

    box-sizing: border-box;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 7vw;

    transition: background-color 0.25s ease;

    .logo {
      width: 20vw;

      path {
        fill: var(--primary-color-dark);
      }
    }

    .text {
      font-weight: bold;
      font-size: 5vw;
      color: var(--primary-color-dark);
    }
  }

  .section {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .carousel {
    padding-top: 20dvh;
  }

  .cad-drawing {
    margin-top: 15dvh;

    --svg-color: rgb(255, 255, 255);

    stroke: var(--svg-color) !important;

    rect {
      fill: none;
      stroke: var(--svg-color) !important;
    }

    line {
      fill: none;
      stroke: var(--svg-color) !important;
    }

    path {
      fill: none;
      stroke: var(--svg-color) !important;
    }

  }
}
