.home {
  position: relative;
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10dvh;

  .logo-wrapper {

    width: 40vw;

    .logo {

      width: 100%;

      path {
        fill: var(--primary-color-dark);
      }
  
    }
  }

  .wip {
    width: 70%;
    text-align: center;
    color: var(--primary-color-dark);
  }
  
}


