.images {

    padding: 5vw 0;

    width: 100vw;
    overflow-x: scroll;

    scroll-snap-type: x mandatory;

    display: flex;
    gap: 5vw; 

    ::-webkit-scrollbar {
      width: 0px; /* No vertical scrollbar */
      height: 0px; /* No horizontal scrollbar */
    }
    
    /* Hide the scrollbar for other browsers */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    .image {

      max-width: 85vw;
      height: 50vh; /* Set your desired height */
      object-fit: cover; /* Maintain aspect ratio and cover the area */
      border-radius: 5vw;

      scroll-snap-align: center;

      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      &.elevated {
        transform: scale(1.05); /* Slightly increase size */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Larger shadow */
      }

      &:first-child {
        margin-left: 5vw;
      }

      &:last-child {
        margin-right: 5vw;
      }

    }

  }